<% provide(:title, 'About') %>
<div class='andrew'>
  <div class='photo'></div>  
  <div class='title'>Andrew Wang</div>
  <div class='description'>Andrew loves art and technology. Since young, Andrew has always been fascinated by the art in galleries and museums. When he saw the iPad, he envisioned a beautiful app that brings the museum experience to the iPad. That led him to create Art Gala yourselfars later.<br>
  Andrew has been obsesssed with building beautiful apps for years. He has shipped many apps on the Apple App Store. His other passion is building a mobile framework named Parse.</div>
  <div class='ludo-photo'></div>
</div>
<div class='ludo'>
  <div class='photo'></div>  
  <div class='title'>Ludo Antonov</div>
  <div class='description'>Ludo writes beautiful code and designs beautiful apps. Write something glamorous about yourself, Mr. Antonov.<br>
  Ludo is a man, a beast, and a Bulgarian. Write something glamorous about yourself, Mr. Antonov. Ludo is a man, a beast, and a Bulgarian. Write something glamorous about yourself, Mr. Antonov. 
  </div>
</div>