<% provide(:title, 'About') %>
<div class='andrew'>
  <div class='photo'></div>  
  <div class='title'>Andrew Wang</div>
  <div class='description'>Since young, Andrew has always been fascinated by art. When he first saw the iPad, he envisioned an app that brings the beautiful museum experience to tablets, which led him to create Art Gala years later.<br>
  Andrew has been obsessed with building <%= link_to 'beautiful apps', 'http://magicanywhere.com' %> for years. His other passion is building a mobile framework named <%= link_to 'Parse', 'http://parse.com' %>.</div>
  <div class='ludo-photo'></div>
</div>
<div class='ludo'>
  <div class='photo'></div>  
  <div class='title'>Ludo Antonov</div>
  <div class='description'>Ludo writes beautiful code and designs beautiful apps. Write something glamorous about yourself, Mr. Antonov.<br>
  Ludo is a man, a beast, and a Bulgarian. Write something glamorous about yourself, Mr. Antonov. Ludo is a man, a beast, and a Bulgarian. Write something glamorous about yourself, Mr. Antonov. 
  </div>
</div>