<div class='logo'>
</div>
<div class='header'>
    <span class='b'>Art Gala:</span><br>
    <span class='s'>Classic Masterpieces</span>
</div>
<div class='strip'>
</div>
<div class='fire'>
</div>
<div class='contents'>
         <div id='#available'>
             <div style='height:140px'></div>
             <div class='buybutton'>Get the App</div>
             <span style="font-family:'RRegular';padding-left:17px">Available on: </span> Kindle Fire, B&N Nook, Android Tablets
         </div>
    </div>
<div class='footer'>
</div>
