<div class='logo'>
</div>
<div class='header'>
    <span class='b'>Art Gala:</span><br>
    <span class='s'>Classic Masterpieces</span>
</div>
<div class='strip'>
</div>
<div class='fire'>
</div>
<div class='footer'>
</div>
