<% provide(:title, 'Press') %>

<div class='team-title' style='margin-top:100px;font-size:50px;width:1000px'>
Art Gala iPad Screenshots
</div>
<div style='height:800px;background:rgba(0,0,0,0.9);margin-top:50px;margin-bottom:150px'>
    <center>
        <object style='height:800px' width="800" height="600"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F86137477%40N08%2Fsets%2F72157631300227670%2Fshow%2F&page_show_back_url=%2Fphotos%2F86137477%40N08%2Fsets%2F72157631300227670%2F&set_id=72157631300227670&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=109615"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=109615" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F86137477%40N08%2Fsets%2F72157631300227670%2Fshow%2F&page_show_back_url=%2Fphotos%2F86137477%40N08%2Fsets%2F72157631300227670%2F&set_id=72157631300227670&jump_to=" width="800" height="600"></embed></object>
    </center>
</div>
